<html>
<head>
</head>
<body>

	<h1>Add an airplane to the {{airline}} system</h1>

	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}

<form action="/insert_airplane" method="post">

	<ul>
	  <li>
	    <label for="Plane_ID">Airplane ID:</label>
	    <input type="number" name="Plane_ID" max=99999 min = 10000/>
	  </li>
	  <li>
	    <label for="Num_seats">Number of seats:</label>
	    <input type="number" name="Num_seats" >
	  </li>
	</ul>

	<input type="submit" value = "Submit" />

</form>

<a href="/staffhome">Go Back Home</a></br>


</body>
</html>



<!-- Defaults will be showing all the future flights operated by the airline he/she works for the next 30 days. -->