<html>
<head>
</head>
<body>
<h1>Welcome {{f_name}} {{l_name}}! You are our proud {{airline}} staff!</h1>

<a href="/viewFlights">View Flights</a></br>
<a href="/new_flight">Make new flight</a></br>
<a href="/change_status">Change flight status</a></br>
<a href="/add_airplane">Add an airplane</a></br>
<a href="/add_airport">Add an airport</a></br>
<a href="/view_ratings">View ratings for each flight</a></br>
<a href="/freq_customers">View Frequent Customers</a></br>
<a href="/view_reports">View Ticket Sales</a></br>
<a href="/view_earned_revenue">View earned revenue</a></br>
<a href="/view_top_destination">View Top 3 Destinations</a></br>
<a href="/logout">Logout</a>

</body>


</html>
