<html>
<head>
</head>
<body>

	<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
	</style>
	
	<h1>Showing the {{airline}}'s earned revenue from ticket sales</h1>

	<h3>Last Month ({{lm_start}} to {{lm_end}}): ${{last_month}}</h3>
	<h3>Last Year ({{ly_start}} to {{ly_end}}): ${{last_year}}</h3>

<a href="/staffhome">Go Back Home</a></br>


</body>
</html>



<!-- Defaults will be showing all the future flights operated by the airline he/she works for the next 30 days. -->